<swift-container>
  <swift-flex *ngIf="chatRoomUser$ | async as chatRoomUser" mainAxis="column" justify="center" align="center" gap="24">
    <swift-flex justify="space-between" align="center">
      <h3>{{ chatRoomUser?.chatRoom?.name }}</h3>
      <swift-flex justify="center" align="center" gap="8">
        <button 
          swiftButton swiftButtonType="icon" swiftButtonIcon="share" 
          swiftTooltip="Compartilhar"
          (click)="onClickShare()" type="button"
        ></button>
        <button 
          swiftButton swiftButtonType="icon" swiftButtonIcon="logout" 
          swiftTooltip="Sair"
          (click)="onClickExit()" type="button"
        ></button>
      </swift-flex>
    </swift-flex>
    <swift-events [events]="events$"></swift-events>
    <swift-flex mainAxis="column" justify="center" align="center" gap="12">
      <swift-form-field *ngIf="messageControl$ | async as messageControl">
        <input type="text" placeholder="Digite aqui sua mensagem" [formControl]="messageControl" (keyup.enter)="submitMessage()" />
      </swift-form-field>
      <button swiftButton (click)="submitMessage()" type="button">Enviar</button>
    </swift-flex>
  </swift-flex>
</swift-container>